# Intro to Python

### START ON COMMAND LINE

Check you're running Python 3:

In [ ]:
!python -V

In [ ]:
3 + 2

In [ ]:
a = 3

In [ ]:
a + 2

In [ ]:
import math
math.sqrt(10)

## Getting help

In [ ]:
math.__doc__

In [ ]:
help(math)

In [ ]:
dir(math)

In [ ]:
dir(10)

We get some extra help from IPython:

In [ ]:
math.  # Put your cursor after the dot and hit tab.

In [ ]:
math.sqrt?

### Let's continue!

## Numbers and `math`

- Numbers and math operators
- `int` and `float` (without talking about types per se)
- Assignment and dynamic typing
- Booleans and boolean operators
- `math` module
- `dir` and `help` etc.

<div class="alert alert-success">
<b>Exercise</b>:
<ul>
<li>- Solve $x^2 + 3x - 7$ when $x = 3.14$. </li>
<li>- What is `5 or 0`? Why?</li>
<li>- What is the log<sub>10</sub> of 7e7?</li>
<li>- What is the $tan$ of $\pi$ rad?</li>
<li>- What is 0.1 + 0.2?</li>
</ul>
</div>

In [15]:
0.1 + 0.2 - 0.3

5.551115123125783e-17

In [2]:
x = 3.14

In [3]:
x**2 + 3*x - 7

12.279600000000002

## Strings

#### SWITCH TO NOTEBOOK

- By the way, NumPy for maths
- Strings: making, indexing, slicing
- `len` - sequences
- Concatenation and `in`
- `str` and type casting (strong typing)
- String methods (objects, methods, functions)
- `upper`, `isupper`, `startswith`, `find`, `replace`
- Print, `\n` and escapes

In [16]:
a = 5

In [27]:
a = "Granite\t4.3 km/s\n\nLimestone\t3.7km/s"

In [28]:
a

'Granite\t4.3 km/s\n\nLimestone\t3.7km/s'

In [29]:
print(a)

Granite	4.3 km/s

Limestone	3.7km/s

In [31]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
b = "Limestone"

In [33]:
b.upper()

'LIMESTONE'

In [36]:
b.lower().islower()

True

In [49]:
b.find('e')

3

In [52]:
b + 's'

'Limestones'

In [54]:
b * 5

'LimestoneLimestoneLimestoneLimestoneLimestone'

In [59]:
str(3) + '5'

'35'

<div class="alert alert-success">
<b>Exercise</b>:
<ul>
<li>- What types are `"Statoil"`, `5`, `3.1416`, `a`, `math`, `math.log`, `str`</li>
<li>- Use `math.pi` and `str.format()` to print $\pi$ to 2 decimal places. </li>
<li>- Change `"JURASSIC*PERIOD\n"` to lower case.</li>
<li>- Change the `*` to a space, change everything to title case, and remove the new line &mdash; in a single expression.</li>
</ul>
</div>

In [74]:
"JURASSIC*PERIOD\n".replace("*", " ").strip().title()

'Jurassic Period'

In [66]:
f"Lithology: {math.pi}"

'Lithology: 3.141592653589793'

In [68]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

## Lists

- Split `"Triassic Jurassic Cretaceous"`
- "Just another sequence"
- Making a list, syntax: parentheses, brackets
- Heterogeneous lists, nested lists
- Indexing and slicing
- `append`, `index`, `pop`
- Mutability, compared to strings
- Mutability gotcha

In [75]:
a = "Triassic Jurassic Cretaceous"

In [77]:
b = a.split()
b

['Triassic', 'Jurassic', 'Cretaceous']

In [78]:
b.append('Palaeogene')

In [81]:
b.insert(0, 'Permian')

In [86]:
b.sort()

In [87]:
b

['Cretaceous', 'Jurassic', 'Palaeogene', 'Permian', 'Triassic']

In [89]:
b[2] = 'Tertiary'

In [91]:
c = [2, 3, 3, 5, 5, 6, 7]

In [97]:
pop(0)

In [98]:
d = c.pop()

In [100]:
c

[2, 3, 3, 5, 5]

In [101]:
d = c

In [102]:
d

[2, 3, 3, 5, 5]

In [108]:
c[0] = 6e23
c

[6e+23, 3, 3, 5, 5]

In [110]:
e = [[1,2,3], c, d]

In [111]:
d = c.copy()

[[1, 2, 3], [6e+23, 3, 3, 5, 5], [10000, 3, 3, 5, 5]]

<div class="alert alert-success">
<b>Exercise</b>:
<ul>
<li>- Split this string into a list called `lithologies`: `"Sandstone Shale Limestone Dolomite Basalt Granite"`</li>
<li>- Sort the list, then sort it backwards</li>
<li>- Copy the list to a new name, `rocks`</li>
<li>- Make a variable d and assign it to the 4th element of the list</li>
<li>- Make a variable `rock` and assign it to the last item, and remove the last item</li>
<li>- Add the following rocks to the list: `"Gypsum"`, `"Halite"`</li>
<li>- Change the second element to `"Mudstone"`</li>
</ul>
</div>

In [112]:
lith = "Sandstone Shale Limestone Dolomite Basalt Granite".split()

In [117]:
lith.sort(reverse=True)
rocks = lith.copy()

In [119]:
d = rocks.pop()
d

'Basalt'

In [120]:
rocks.extend(["gypsum", "halite"])

In [127]:
rocks[1] = 'mudstone'

In [128]:
rocks

['Shale', 'mudstone', 'Limestone', 'Granite', 'Dolomite', 'gypsum', 'halite']

## Tuples

- Like lists, but immutable (so no append... but add ok)
- Multiple assignment (usually w tuples)

In [135]:
a = ("this", "that", other)

NameError: name 'other' is not defined

In [136]:
a, b = 100, 200

In [137]:
a

100

In [138]:
1, 2, 3, 4

(1, 2, 3, 4)

## Dictionaries

- Not a sequence, but a database-like mapping of k, v pairs
- Forming with `{...}`
- Keys and values
- `in`
- `get` (a bit like a database)
- `update` with `{k: v}`, or just do `dict[k] = v`

In [140]:
abbrev = {'Cretaceous': 'K', 'Jurassic': 'J', 'Permian': 'Pr'}

In [151]:
abbrev['Cretaceous'] = 'Cret'

In [153]:
list(abbrev.values())

['Cret', 'J', 'Pr']

In [154]:
abbrev['Tertiary'] = 'T'
abbrev

{'Cretaceous': 'Cret', 'Jurassic': 'J', 'Permian': 'Pr', 'Tertiary': 'T'}

In [156]:
abbrev.get('Cambrian')

In [157]:
abbrev['Cambrian']

KeyError: 'Cambrian'

<div class="alert alert-success">
<b>Exercise</b>:
<ul>
<li>- Retrieve the start of the Jurassic</li>
<li>- Use it, with string formatting, to print:</li>
<li>      "The Jurassic started about 201 Ma ago."</li>
<li>- Add the Permian, starting at 298.9 Ma</li>
<li>- The Palaeogene has the wrong spelling and the wrong age (should be 66.0); change them.</li>
<li>- Get a sorted list of the start ages</li>
<li>- Make a new dictionary with values that also contain the uncertainty in the ages (You can make up the uncertainties)</li>
</ul>
</div>

In [182]:
periods = {
    "Triassic": 251.9,
    "Jurassic": 201.3,
    "Cretaceous": 145.0,
    "Paleogene": 65,
    "Neogene": 23.03,
    "Quaternary": 2.58,
}

In [180]:
periods.pop('Paleogene')
periods["Palaeogene"] = 66

In [183]:
del periods['Paleogene']

In [187]:
ages = list(periods.values())
ages.sort()
ages

[2.58, 23.03, 145.0, 201.3, 251.9]

In [169]:
f"The {period} () started at {periods[period]:.0f} Ma"

'The Triassic () started at 252 Ma'

In [188]:
periods = {
    "Triassic": (251.9, 0.24),
    "Jurassic": (201.3, 0.9),
    "Cretaceous": (145.0, 1),
    "Paleogene": (65, 0.1),
    "Neogene": (23.03, 0.3),
    "Quaternary": (2.58, 0.001),
}

In [190]:
age, uncert = periods['Triassic']
print(age, uncert)

251.9 0.24

In [192]:
periods = {k:{'start': s, 'uncert': u} for k, (s, u) in periods.items()}

In [195]:
periods['Triassic']['start']

251.9

## `if ... else`

- White space in Python
- Pattern
- `elif`
- One-liner version

In [218]:
lith = ['Shale', 'Sandstone', 'Limestone', 'Granite', 'Dolomite', 'Basalt', 'Mudstone']

In [221]:
if 'Shale' in lith:
    print("It's in there!")
    lith.remove('Shale')
    if 'Mudstone' in lith:
        lith.append('Clay')
    if 'Mud' in lith:
        lith.remove('Mud')
        lith.append('Mudstone')
        lith.append('Clay')
    else:
        lith.append('Mudstone')
        lith.append('Clay')

In [220]:
'Shale' in lith

False

In [216]:
lith

['Sandstone', 'Limestone', 'Granite', 'Dolomite', 'Basalt', 'Mudstone', 'Clay']

## `for ... in` (for each)

- Pattern
- Stepping over 2-tuples
- Stepping over `dict.items()`
- List comprehension
- `continue` and `break`

In [233]:
vels = [12, 34, 23, 45, 34, 23, 56]

In [234]:
for i, lith in enumerate(liths):
    print(i, lith, vels[i])

0 Sandstone 12
1 Limestone 34
2 Granite 23
3 Dolomite 45
4 Basalt 34
5 Mudstone 23
6 Clay 56

In [235]:
for lith, vel in zip(liths, vels):
    print(lith, vel)

Sandstone 12
Limestone 34
Granite 23
Dolomite 45
Basalt 34
Mudstone 23
Clay 56

In [236]:
periods

{'Cretaceous': {'start': 145.0, 'uncert': 1},
 'Jurassic': {'start': 201.3, 'uncert': 0.9},
 'Neogene': {'start': 23.03, 'uncert': 0.3},
 'Paleogene': {'start': 65, 'uncert': 0.1},
 'Quaternary': {'start': 2.58, 'uncert': 0.001},
 'Triassic': {'start': 251.9, 'uncert': 0.24}}

In [241]:
for i in periods.items():
    print(i)

('Triassic', {'start': 251.9, 'uncert': 0.24})
('Jurassic', {'start': 201.3, 'uncert': 0.9})
('Cretaceous', {'start': 145.0, 'uncert': 1})
('Paleogene', {'start': 65, 'uncert': 0.1})
('Neogene', {'start': 23.03, 'uncert': 0.3})
('Quaternary', {'start': 2.58, 'uncert': 0.001})

In [246]:
squares = []
for n in range(10):
    squares.append(n**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [247]:
# List comprehension
[n**2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [249]:
# Dict comprehension
{str(n):n**2 for n in range(10)}

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81}

<div class="alert alert-success">
<b>Exercise</b>:
<ul>
<li>- Make a loop to print the cumulative sum of the numbers up to 10.</li>
<li>- Add an `if` to only sum the squares of even numbers.</li>
<li>- Write a loop over the positive whole numbers to 100, printing 'fizz' for numbers divisible by 3 and/or 'buzz' for those divisible by 5, and only the number if divisible by neither.</li>
</ul>
</div>

In [ ]:
for n in range(1, 101):
    if (n % 3 == 0) and (n % 5 == 0):
        print('fizz buzz')
    elif n % 3 == 0:
        print('fizz')
    elif n % 5 == 0:
        print('buzz')
    else:
        print(n)

---

## The basics

Other great places to pick up Python:

- [Learn X in Y minutes](https://learnxinyminutes.com/docs/python3/) — If you just want to get cracking.
- [Stavros](https://www.stavros.io/tutorials/python/) — If you want to know a bit more.
- [Robert Johansson's lectures](Lecture-1-Introduction-to-Python-Programming.ipynb)
- [Tutorials Point](http://www.tutorialspoint.com/python/python_quick_guide.htm) — Another option.
- [Code Academy](https://www.codecademy.com/learn/python) — A more sedate pace.
- [Udacity Intro to Computer Science](https://www.udacity.com/course/intro-to-computer-science--cs101) — Fantastic but a serious undertaking.
- [All the tutorials!](https://wiki.python.org/moin/BeginnersGuide/Programmers)

**WARNING** There's still a lot of Python 2 around. Keep away from it if you can! Python 3 has lots of advantages, and there are hardly any libraries now that have not made the swtich.

----

## Python is...

- Not just a scripting language.
- Interpreted, not compiled.
- Strongly typed — types are enforced.
- Dynamically, implicitly typed — you don't have to declare variables.
- Case sensitive — var and VAR are two different variables.
- Object-oriented — everything is an object.
- Supportive of functional and procedural styles.

In [ ]:
import this

## Nice Python

- Read [PEP8](https://www.python.org/dev/peps/pep-0008/).
- Use an IDE or use a linter in tour text editor (I use Sublime Text).
- Think about your users and colleagues and your future self!

<hr />

<div>
<img src="https://avatars1.githubusercontent.com/u/1692321?s=50"><p style="text-align:center">© Agile Geoscience 2016</p>
</div>